.defeat-screen {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #f44336;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  p {
    font-size: 1em;
    font-weight: bold;
  }
}

@media screen and (max-width: 450px) {
  .defeat-screen {
    top: 10%;
    p {
      font-size: 0.8em;
    }
  }
}
