div {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;

  h1 {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 1px;
  }

  p {
    line-height: 1.5rem;
    padding: 0 15rem;
    letter-spacing: 1px;
    text-align: center;
  }
  ul {
    line-height: 1.5rem;
    padding: 0 15rem;
    letter-spacing: 1px;
  }
}
